.divergence-table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.divergence-header {
  padding: 8px;
  border-bottom: solid 1px var(--color-table-separator);
}

.divergence-table {
  overflow-y: scroll;
  padding: 0 8px;

  .divergence-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;

    &:not(:last-child) {
      border-bottom: solid 1px var(--color-table-separator);
    }
  }

  .divergence-item {
    display: flex;
    gap: 4px;
    padding: 6px 0;
    border-radius: 8px;
    align-items: center;
    transition: background-color 0.4s ease;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    &.selected {
      background-color: var(--color-background-selected);
    }

    &:not(.expandable) {
      padding-left: 28px;
    }
  }

  .divergence-context {
    animation: fadeInUp 0.1s ease-in-out;
    padding: 6px 0;
  }
}
