.stack-visualizer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steps-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 8px;

}

.stack-editor {
  display: flex;
  height: 100%;
}
