.stack-table {
  flex-direction: column;
  height: 100%;
  gap: 6px;
}

.stack-visualizer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
}

.stack-actions {
  flex: initial;
  height: initial;
  flex-shrink: 0;

  button {
    position: relative;
    width: 100%;
    color: var(--color-font);
    margin: 0 4px;

    &:hover {
      opacity: 100%;
      background-color: var(--color-background-selected);
    }
  }

  button:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -4px;
    width: 1px;
    height: 100%;
    background: var(--color-table-separator);
  }
}

.stack-header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  border-bottom: solid 1px var(--color-table-separator);

  > * {
    display: grid;
    width: 100%;
    padding: 6px;
    margin: 0 12px;
    grid-template-columns: 100px 1fr 1fr;

    > * {
      display: flex;
      min-width: 100px;
    }
  }
}

.frame-tables {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  overflow: hidden;
}

.stack-editor {
  height: 100%;
}
