.frame-table {
  flex-direction: column;
  padding: 0 8px;

  .selected {
    background-color: var(--color-background-selected);
  }

  .frame-prefix {
    display: flex;
    width: 6px;
    height: 65%;
    position: absolute;
    left: -10px;
  }

  .frame-table-item {
    display: flex;
    width: 100%;
    padding: 6px 8px;
    border-radius: 8px;
    transition: background-color 0.4s ease;
    gap: 56px;
  }

  .frame-table-item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding: 6px 0;
    border-bottom: solid 1px var(--color-table-separator);
  }
}
