.frame-table {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 0;
  border-radius: 0;
  overflow-y: scroll;

  .selected {
    background-color: var(--color-background-selected);
  }

  .frame-prefix {
    display: flex;
    width: 6px;
    height: 65%;
    position: absolute;
    left: 0;
  }

  .frame-table-item {
    display: grid;
    width: 100%;
    padding: 6px;
    margin: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.4s ease;
    grid-template-columns: 100px 1fr 1fr;
  }

  .frame-table-item-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-bottom: solid 1px var(--color-table-separator);
  }
}
