.settings-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.settings {
  padding: 16px;
  max-width: 500px;
  gap: 16px;
}

.settings-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
