.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  user-select: none;
}

.modal {
  display: flex;
  background-color: var(--color-background-secondary);
  padding: 16px;
  border-radius: 8px;
  cursor: default;
  user-select: text;
}
