.tree-layout {
  line {
    stroke: var(--color-font);
    stroke-width: 3;
  }

  circle {
    &.state-div {
      fill: var(--color-state-divergence);
    }

    &.flow-div {
      fill: var(--color-flow-divergence);
    }
  }

  .legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 24px;
    top: 6px;
    background-color: var(--color-background-secondary);
    padding: 8px;
    border-radius: 8px;
    gap: 8px;

    .legend-item {
      display: flex;
      align-items: center;
    }

    .legend-color {
      width: 20px;
      height: 20px;
    }

    .legend-label {
      margin-left: 12px;
    }
  }
}
