:root {
  --color-primary: #8f59fd;
  --color-background: #121117;
  --color-background-secondary: #25242b;

  background-color: var(--color-background);
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  margin: 0 8px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
