:root {
  --color-background: #0c0c0c;
  --color-background-secondary: #151515;
  --color-background-selected: #2a2a2a;
  --color-table-separator: #2b2b2b;

  --color-font: white;

  --font: "Roboto", sans-serif;

  background-color: var(--color-background);
  color: var(--color-font);
  font-family: var(--font);
}

body {
  height: 100vh;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-background-secondary);
}
