.inspector {
  display: flex;
  flex-direction: column;
  width: 480px;
  min-height: 480px;
  overflow-y: scroll;
  box-sizing: border-box;

  .inspector-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: solid 1px var(--color-table-separator);
  }

  .inspector-columns {
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;
    gap: 8px;
    font-weight: 500;

    > * {
      padding: 8px;

      &:not(:first-child) {
        border-left: solid 1px var(--color-table-separator);
      }
    }
  }

  .inspector-row {
    display: grid;
    grid-template-columns: 100px minmax(0, 1fr);
    width: 100%;
    gap: 8px;
    overflow-wrap: anywhere;

    &:not(:last-child) {
      border-bottom: solid 1px var(--color-table-separator);
    }

    > * {
      display: flex;
      padding: 8px;
      align-items: center;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      -webkit-line-clamp: 3;
    }

    > *:not(:first-child) {
      border-left: solid 1px var(--color-table-separator);
    }
  }
}
