.query-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .query-container {
    padding-inline: 16px;
    max-width: 800px;
    height: 500px;
  }

  .query-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;

    .query-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
